Django === 6.0.1
psycopg2-binary==2.9.10
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-filter==25.2
django-cors-headers==4.9.0
drf-nested-routers==0.95.0
gunicorn==23.0.0
Pillow==11.1.0
